# Data Science (DS) Ecosystem

# <span style="font-size: 20px;">In this assignment we will learn about Data Science (DS) Ecosystem.</span>

# <span style="font-size: 20px;"> Data Scientists(DS) use these popular languages: </span>
1. Java
2. Python
3. R
4. Scala
5. SQL

# <span style="font-size: 20px;"> Data Scientists(DS) use these popular libraries which are commonly used: </span>
1. Matplotlib
2. Pandas
3. NumPy

| Data Science Tools |
| ------------------ |
| scikit-learn       |
| NumPy              |
| Pandas             |

# <span style="font-size: 20px;"> Let's take a look on Arithmetic Expressions in Python </span>

In [1]:
# Consider arithmetic expression to multiply and add integers in single example 
(5 * 5) + 5

30

In [2]:
# Consider example for converting 400 minutes to hours by diving it by 60
400/60

6.666666666666667

# <span style="font-size: 20px;"> Objectives are as follows: </span>
* First we create a Jupyter Notebook
* Next we insert code and markdown cells
* We share our notebook through GitHub
* Popular Languages of Data Science are listed
* Popular Libraries of Data Science are listed

# <span style="font-size: 20px;"> Author </span>
Vikrant Shrirame